<!DOCTYPE html>
<html>
	<head>
		<title><%=@user.name%>'s Video Games:</title>
	</head>
	<body>
	  <ul>
		<% @videogames.each do |videogame|%>
		<li><a href="/videogames/<%=videogame.id%>"><%videogame.name%></a></li>
		<% end %>
		</ul>
	</body>
</html>
