<form action="/videogames" method="POST" >
  <p>Game Title: <input type="text" name="name"></p>
  <p>Game Console: <input type="text" name="console"></p>
  <p>Game Genre: <input type="text" name="genre"></p>
  <input type="submit">
</form>
