<body>
  <div class="wrapper">
    <nav class="menu">
      <ul>
        <li><a href="/videogames">Video Games</a></li>
        <li><a href="/videogames/new">Add Game</a></li>
      </ul>
    </nav>
    <%= yield %>
  </div>
  
</body>